:root {
  //评论
  --halo-cw-base-font-family: var(--article-font-family);
  --halo-cw-base-font-size: var(--article-font-size);
  --halo-cw-text-1-color: var(--card-text-color-main);
  --halo-cw-text-2-color:var(--card-text-color-secondary);
  --halo-cw-text-3-color: var(--card-text-color-tertiary);

  //搜搜
  --halo-search-widget-base-font-size: var(--article-font-size);
  --halo-search-widget-base-font-family: var(--article-font-family);

  &[data-scheme="light"] {
  }
  &[data-scheme="dark"] {
    //评论插件
    --halo-cw-text-1-color: #f9fafb;
    --halo-cw-text-2-color: #e5e7eb;
    --halo-cw-text-3-color: #9ca3af;

    --halo-cw-muted-1-color: #4b5563;
    --halo-cw-muted-2-color: #374151;
    --halo-cw-muted-3-color: var(--card-text-color-tertiary);

    --halo-cw-emoji-picker-rgb-color: 222, 222, 221;
    --halo-cw-emoji-picker-rgb-accent: 58, 130, 247;
    --halo-cw-emoji-picker-rgb-background: 21, 22, 23;
    --halo-cw-emoji-picker-rgb-input: 0, 0, 0;
    --halo-cw-emoji-picker-color-border: rgba(255, 255, 255, 0.1);
    --halo-cw-emoji-picker-color-border-over: rgba(255, 255, 255, 0.2);
    --halo-comment-widget-component-form-input-bg-color: #475569;
    --halo-comment-widget-component-form-input-color: #ffffff;
    --halo-comment-widget-component-form-input-border-color: #495056;
    --halo-comment-widget-component-form-input-border-color-focus: #65a3ff;
    --halo-comment-widget-component-form-input-box-shadow-focus: 0 0 0 0.15em #1c3966;
    --halo-comment-widget-component-form-button-login-bg-color: #334155;
    --halo-comment-widget-component-form-button-login-bg-color-hover: #475569;
    --halo-comment-widget-component-form-button-login-border-color: #475569;
    --halo-comment-widget-component-form-button-submit-border-color: #475569;
    --halo-comment-widget-component-form-button-submit-border-color-hover: #64748b;
    --halo-comment-widget-component-form-button-emoji-color: #cbd5e1;

    --halo-comment-widget-component-comment-item-action-bg-color-hover: #475569;
    --halo-comment-widget-component-comment-item-action-color: #64748b;
    --halo-comment-widget-component-comment-item-action-color-hover: #94a3b8;

    --halo-comment-widget-component-pagination-button-bg-color-hover: #475569;
    --halo-comment-widget-component-pagination-button-bg-color-active: #475569;
    --halo-comment-widget-component-pagination-button-border-color-active: #475569;

    --halo-comment-widget-component-emoji-picker-rgb-color: 222, 222, 221;
    --halo-comment-widget-component-emoji-picker-rgb-accent: 58, 130, 247;
    --halo-comment-widget-component-emoji-picker-rgb-background: 21, 22, 23;
    --halo-comment-widget-component-emoji-picker-rgb-input: 0, 0, 0;
    --halo-comment-widget-component-emoji-picker-color-border: rgba(255, 255, 255, 0.1);
    --halo-comment-widget-component-emoji-picker-color-border-over: rgba(255, 255, 255, 0.2);


  //  搜索插件
    --halo-search-widget-color-modal-layer: rgba(0, 0, 0, 0.8);
    --halo-search-widget-color-modal-content-bg: rgb(15 23 42);
    --halo-search-widget-color-form-input: rgb(255, 255, 255);
    --halo-search-widget-color-form-input-placeholder: rgb(148 163 184);
    --halo-search-widget-color-form-input-bg: rgb(15 23 42);
    --halo-search-widget-color-form-divider: rgb(30 41 59);
    --halo-search-widget-color-result-item-bg: rgb(30 41 59);
    --halo-search-widget-color-result-item-hover-bg: rgb(51 65 85);
    --halo-search-widget-color-result-item-title: rgb(255 255 255);
    --halo-search-widget-color-result-item-content: rgb(148 163 184);
    --halo-search-widget-color-command-kbd-item: rgb(148 163 184);
    --halo-search-widget-color-command-kbd-border: rgb(30 41 59);
    --halo-search-widget-color-result-empty: rgb(148 163 184);
  }
}
